{
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "eslint-config-prettier"
    ],
    "plugins": ["@typescript-eslint", "react"],
    "rules": {
        "strict": ["error", "never"],
        "valid-typeof": "error",
        "no-unsafe-negation": "error",
        "no-unexpected-multiline": "error",
        "no-undef": "error",
        "no-console": "error",
        "@typescript-eslint/explicit-function-return-type": "off"
    },
    "overrides": [
        {
            "files": ["*.js"],
            "rules": {
                "@typescript-eslint/no-var-requires": "off"
            }
        }
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
